/* General styles */
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #222437;
    color: #fff;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ccc;
}

/* Header styles */
#header {
    background-color: #343641;
    width: 100%;
    position: fixed; /* Fixed position to stick to the top */
    top: -80px; /* Initially hide the header above the viewport */
    left: 0;
    right: 0;
    z-index: 1000;
    height: 50px;
    transition: top 0.3s ease; /* Add transition for smoother effect */
}

/* Show the header when it has the 'header-visible' class */
#header.header-visible {
    top: 0; /* Move the header to the top of the viewport */
}

/* Navigation styles */
.nav-tabs ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.nav-tabs li {
    margin: 0 20px;
}

.nav-tabs a {
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
    line-height: 50px; 
}

.nav-tabs a:hover {
    color: #cccccc;
}

/* Home section styles */
.fullscreen-image {
    position: relative;
    height: 84vh;
    background-color: #222437;
    z-index: 1000;
}

.image-container {
    border: 3px solid #fff;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    position: relative;
    background-color: #343641;
    z-index: 999;
    margin: 20px;
}

/* Adjusting the height of extra sections */
.extra-section {
    height: 200px;
}
