
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';
    overflow-wrap: break-word;
}

body {
    min-height: 1000px;
    background-color: #000;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition-duration: 1s;
}

header.sticky {
    height: 80px;
    opacity: 1;
}

header .banner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    transform: translate(-50%, -50%);
    background-color: #000; /* black */
    z-index: 0;
}

header.sticky .banner {
    opacity: 0; /*makes the video on banner disapear*/
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 'Fira Code';
    font-size: 12vw;
    color: #fff;
    font-weight: bold;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}

header.sticky .logo {
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);
}
nav {
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul {
    position: relative;
    display: flex;
    transition: .25s;
    transform: translate(100px);
    opacity: 0; /*casues the nav to be invisible when fullscreen*/
    visibility: hidden;
}

header.sticky nav ul {
    transform: translate(0);
    opacity: 1; /*casues nav to be visible when sticky*/
    transition-delay: 0.75s;
    opacity: 1;
    visibility: visible;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #fff;
    display: inline-block;
    padding:  6px 15px;
    font-size: 1.2em;
    text-decoration: none;
    transition: .3s ease;
}

nav ul li a:hover {
    color:white;
    text-decoration-line: underline;
    text-decoration-color: white;
    text-underline-offset: 10px;
}

section {
    margin-top: 50vh;
    padding: 100px;
    color: #fff;
}

section h2 {
    font-size: 3em;
}

section p {
    font-size: 1.2em;
}

/*large screen specific*/
@media (min-width:992px)
{
    nav ul li a:hover{
        transform: translateY(5px);
        
    }
}

/*make it responsive*/
@media (max-width: 991px)
{
    section h2 {
        font-size: 2em;
    }

    header.sticky .logo {
        left: 40px;
       
    }

    header.sticky .banner {
        opacity: 1;
    }

    nav ul {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    
    nav.active ul {
        position: fixed;
        top: 80px;
        left: 0;
        width:100%;
        height: 100%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity:1;
    }

    nav ul li a { 
        font-size: 2em;
        transform: .3s ease;
    }

    nav ul li a:hover{
        transform:translateX(5px);
    }

        /* Define the spin animation */
    @keyframes spinAndShrink {
        0% {
            transform: rotate(0deg) scale(1); /* Initial state: no rotation and normal size */
        }
        100% {
            transform: rotate(180deg) scale(0.5); /* Final state: full rotation and half size */
        }
    }

    /* Apply the spin animation to the .spin class */
    header.sticky .spin {
        animation: spinAndShrink .25s ease-in-out; /* Adjust animation duration and timing function as needed */
        
    }

    header.sticky .toggle {
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background: url(media/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s ease;
        
    }

    header.sticky .toggle:hover {
        transform: translateY(-5px);
    }

    header.sticky .toggle.active {
        background: url(media/close.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center; 
    }
}

/* For smartphones */
@media (max-width: 767px) {
    section h2 {
        font-size: 1.5em; /* Adjust the font size as needed */
    }

    header.sticky .logo {
        left: 20px; /* Adjust the left position as needed */
    }

    header.sticky .banner {
        display: none; /* Hide the banner on smaller screens */
    }

    nav ul {
        display: none; /* Hide the nav menu by default */
        opacity: 0;
        visibility: hidden;
    }

    nav.active ul {
        position: fixed;
        top: 60px; /* Adjust the top position as needed */
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    nav ul li a {
        font-size: 1.2em; /* Adjust the font size as needed */
    }

    nav.active ul li:hover {
        transform:translateX(5px);
    }

    header.sticky .toggle {
        position: fixed;
        top: 15px;
        right: 20px; /* Adjust the right position as needed */
        width: 40px; /* Adjust the width as needed */
        height: 40px; /* Adjust the height as needed */
        cursor: pointer;
        background: url(media/menu.png);
        background-size: 30px; /* Adjust the background size as needed */
        background-repeat: no-repeat;
        background-position: center;
        transition: transform .3s ease;
    }

    header.sticky .toggle:hover {
        transform: translateY(-5px);
        
    }

    header.sticky .toggle.active {
        background: url(media/close.png);
        background-size: 30px; /* Adjust the background size as needed */
        background-repeat: no-repeat;
        background-position: center;
        
    }
}
