/* Style to cover the whole screen with flashing characters */
#bannerSVG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(6, 20, 52);
    z-index: 9999; /* Ensure it's above other content */
}
